<%= form_with(model: vias_engativa, local: true) do |form| %>
  <% if vias_engativa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vias_engativa.errors.count, "error") %> prohibited this vias_engativa from being saved:</h2>

      <ul>
      <% vias_engativa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mviccalzadad %>
    <%= form.number_field :mviccalzadad %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
