<p id="notice"><%= notice %></p>

<p>
  <strong>Mviccalzad:</strong>
  <%= @street.mviccalzad %>
</p>

<p>
  <strong>Mviccat:</strong>
  <%= @street.mviccat %>
</p>

<p>
  <strong>Mvitcla:</strong>
  <%= @street.mvitcla %>
</p>

<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>
